body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: #bff07a;
  color: #000000;
  }

.item{
  border: 3px solid #000000;
  margin: 1em;
  padding: 0.2em 0.5em;
  color: #000000;
}

.info {
  border: 3px solid #000000;
  margin: 1em;
  padding: 0.5em;
  background-color: #e68700;
  color: #000000;
}