{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
<h2>Pelit</h2>

<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />

{% for item in items %}
<div class="item">
Käyttäjä: <a href="/user/{{ item.user_id }}">{{ item.username }}</a><br />
Peli: <a href="/item/{{ item.id }}">{{ item.title }}</a><br />
</div>
{% endfor %}
</ul>

<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% endblock %}
