{% extends "layout.html" %}

{% block title %}Lisää uusi peli{% endblock %}

{% block content %}
<h2>Lisää uusi peli</h2>

<h3>Pelin perustiedot</h3>
<form action="/create_item" method="post">
  <p>
    <label for="title">Pelin nimi:</label> <br />
    <input type="text" name="title" id="title" maxlength="50" size="25" required />
  </p>
  {% for class in classes %}
  <p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}

  <h3>Arvio pelistä</h3>
  <p>
    <label>Vaikeustaso</label>: <br />
    <input type="radio" name="difficulty_level" id="difficulty_none" value="Ei arviota" />
    <label for="difficulty_none">Ei arviota</label>
    <input type="radio" name="difficulty_level" id="difficulty_very_easy" value="Erittäin helppo" />
    <label for="difficulty_very_easy">Erittäin helppo</label>
    <input type="radio" name="difficulty_level" id="difficulty_easy" value="Helppo" />
    <label for="difficulty_easy">Helppo</label>
    <input type="radio" name="difficulty_level" id="difficulty_medium" value="Keskitaso" />
    <label for="difficulty_medium">Keskitaso</label>
    <input type="radio" name="difficulty_level" id="difficulty_hard" value="Vaikea" />
    <label for="difficulty_hard">Vaikea</label>
    <input type="radio" name="difficulty_level" id="difficulty_very_hard" value="Erittäin vaikea" />
    <label for="difficulty_very_hard">Erittäin vaikea</label>
  </p>
  <p>
    <label>Arvosana</label>: <br />
    <input type="radio" name="difficulty_level" id="difficulty_none" value="Ei arviota" />
    <label for="difficulty_none">Ei arviota</label>
    <input type="radio" name="rating" id="rating_1" value="*" />
    <label for="rating_1">*</label>
    <input type="radio" name="rating" id="rating_2" value="**" />
    <label for="rating_2">**</label>
    <input type="radio" name="rating" id="rating_3" value="***" />
    <label for="rating_3">***</label>
    <input type="radio" name="rating" id="rating_4" value="****" />
    <label for="rating_4">****</label>
    <input type="radio" name="rating" id="rating_5" value="*****" />
    <label for="rating_5">*****</label>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lisää uusi peli" />
</form>
{% endblock %}