{% extends "layout.html" %}

{% block title %}Poista pelin tiedot{% endblock %}

{% block content %}
  <h2>Poista pelin <a href="/item/{{ item.id }}">{{ item.title }} </a>tiedot</h2>
  <p>Haluatko varmasti poistaa pelin {{item.title }} tiedot?</p>
  <form action="/remove_item/{{ item.id }}" method="post">
    <input type="submit" name="remove" value="Poista tiedot">
    <input type="submit" name="back" value="Palaa takaisin">
  </form>
<p>
  <a href="/item/{{ item.id }}">Takaisin pelin tietoihin</a>
</p>
{% endblock %}