{% extends "layout.html" %}

{% block title %}Käyttäjä: {{ user.username }}{% endblock %}

{% block content %}
<h2>Käyttäjä: {{ user.username }}</h2>
{% if user.id == session.user_id %}
<p>
  <a href="/images">Lisää tai muokkaa profiilikuvaa</a>
</p>
{% endif %}
{% if user.has_image %}
<img src="/image/{{ user.id }}" alt="Käyttäjän {{ user.username }} profiilikuva">
{% endif %}

<h3>Pelit</h3>
<p>
  Pelejä kirjastossa: {{ items | count }}
</p>
<ul>
  {% for item in items %}
  <li><a href="/item/{{ item.id }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>
<p>
  <a href="/">Takaisin etusivulle</a>
</p>
{% endblock %}