<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
  <h1>{{ item.title }}</h1>
  {% if session.user_id == item.user_id %}
  <p>
    <a href="/edit_item/{{ item.id }}">Muokkaa</a>
    <a href="/remove_item/{{ item.id }}">Poista</a>
  </p>
  {% endif %}

  <h2>Pelin tiedot</h2>

  <p>
    Minimipelaajamäärä: {{ item.min_players }}
  </p>
  <p>
    Maksimipelaajamäärä: {{ item.max_players }}
  </p>
  <p>
    Ikäsuositus: {{ item.age_recommendation }}
  </p>

  <h2>Arvio</h2>

  <p>
    Arvioija: <a href="/user/{{ item.user_id }}">{{ item.username }}</a>
  </p>
  <p>
    Vaikeustaso: {{ item.difficulty_level }}
  </p>
  <p>
    Arvosana: {{ item.rating }}
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>